@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Vazirmatn:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins', 'Vazirmatn', cursive !important;
	@apply accent-primary-500;
}

@layer base {
	html,
	body {
		height: calc(100vh - calc(100vh - 100%));
	}
	body {
		@apply bg-gradient-to-tr from-orange-200 to-sky-400;
	}
	button:not([class^='mapbox']) {
		@apply flex w-max items-center justify-center rounded-full bg-primary-500 px-6 py-[0.75em] text-sm font-semibold text-white transition-colors hover:bg-primary-600;
	}
	button.red {
		@apply bg-red-500 hover:bg-red-600;
	}
	button.text {
		@apply bg-transparent text-black transition-opacity hover:bg-transparent hover:text-black hover:opacity-70;
	}
	button.outlined {
		@apply border-2 border-gray-700 bg-transparent text-gray-700 outline-offset-4 hover:bg-gray-700 hover:text-white;
	}
	button:disabled {
		@apply cursor-not-allowed bg-gray-300;
	}
	input {
		@apply rounded-md bg-gray-200 px-3 py-3 font-semibold text-gray-900 outline-primary-500;
	}
	label {
		@apply font-semibold;
	}
	a {
		@apply transition-opacity hover:opacity-70;
	}
}
